
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


body {
    padding-top: 110px;
}

$primary:#5265E1;
$secondary: #FA5959;

$grid-breakpoints: (xs: 0,
    sm: 276px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);

a:active{
    border-bottom: solid;
    border-bottom-color: $secondary;
}

.dotted {
    border-top: 3px rgb(187, 183, 183) dotted;
}

.accordion-button {
    background-color: $primary;
}
 $accordion-icon-color: $primary;




@import "./node_modules/bootstrap/scss/bootstrap.scss"